<div>
    <h2 text>Add Task details</h2>
    <form #taskRef="ngForm" (ngSubmit)="taskUser(taskRef.value)">
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput type="text" name="id" ngModel/>
        </mat-form-field>
        &nbsp;
        <br>
        
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" ngModel/>
        </mat-form-field>
        &nbsp;
        <br>

        <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput type="text" name="task" ngModel/>
        </mat-form-field>
        &nbsp;
        <br>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="text" name="date" ngModel/>
        </mat-form-field>
        <br/>

        <button mat-stroked-button color="primary" 
        style="background-color:rgb(132, 214, 129);" type="submit">Store</button>
    </form>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
        
            <ng-container matColumnDef="task">
              <th mat-header-cell *matHeaderCellDef> Task </th>
              <td mat-cell *matCellDef="let element"> {{element.task}} </td>
            </ng-container>
          
         
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </div>
</div>

