<div>
    <h2 text>Add Task details</h2>
    <form #taskRef="ngForm" (ngSubmit)="taskUser(taskRef.value)">
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput type="text" name="id" ngModel/>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" ngModel/>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput type="text" name="task" ngModel/>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="text" name="date" ngModel/>
        </mat-form-field>
        <br/>
        <button mat-stroked-button color="primary" 
        style="background-color:darkorange;" type="submit">Store</button>
    </form>
    <table class="table table-responsive table-striped">
      
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Task</th>
            <th>Date</th>
        </tr>

        <tr *ngFor="let row of rows">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.task}}</td>
            <td>{{row.date}}</td>
        </tr>
      
 
     </table>

</div>








    



